:root {
    --navbar-height: 0px; /* 기본값 설정 */
}
.main-content {
    margin-top: var(--navbar-height); /* 네비게이션 바 높이에 따라 조정 */
    transition: margin-top 0.3s ease; /* 부드럽게 적용 */
}

.map-container {
    position: absolute;
    z-index: 0;
    /* background-color: bisque; */
    /* height: 100%; */
    width: 100%;
}

.menu-container {
    position: absolute;
    z-index: 1;
    /* height: 100%; */
    /* width: 100%; */
}
