.auth-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.logo {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
}

h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.auth-box {
    background: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
    text-align: center;
}

.auth-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
}

.login-btn,
.signup-btn,
.check-btn {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    background-color: #777;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.signup-btn {
    background-color: #fff;
    color: #777;
    border: 1px solid #777;
}

.social-login img {
    width: 40px;
    margin: 10px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-row {
    display: flex;
    gap: 10px;
}

.left-options {
    display: flex;
    align-items: center;
    gap: 1px; /* 체크박스와 버튼 간격 */
}

.left-options label {
    margin-left: 2px; /* 체크박스와 라벨 사이 간격 조절 */
}
