@import 'tailwindcss';

html,
body,
:root {
    height: 100%;

    width: 100%;
}

.custom-app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.custom-nav-container {
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.custom-main-container {
    flex-grow: 1;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}
