.left-nav {
    margin-right: auto; /* 왼쪽 끝으로 이동 */
}

.right-nav {
    margin-left: auto; /* 오른쪽 끝으로 이동 */
}
/* NavigationBar.css */
.navbar {
    width: 100%;
    box-sizing: border-box; /* 경계 및 패딩을 포함한 크기 계산 */
}
